<div class="m-5">
    <h2 class="text-2xl font-semibold !text-[#3C507D] mb-4">Change Password</h2>
</div>
<div class="m-5 shadow p-5 w-[70%] mx-auto rounded-2xl">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()" class="bg-white flex items-center justify-center flex-col px-10 h-full">
        <div class="relative w-full">
            <input [type]="showPassword? 'text' : 'password'" 
            id="password" 
            placeholder="Enter Your Password" 
            formControlName="password" 
            class="pr-10 w-full bg-[#F5F0E9] border-0 my-2 py-2.5 px-4 rounded-lg outline-0">
            <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
            (click)="togglePassword('password')"
             class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-600">
            </i>
        </div>
        @if (changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched) {
            <div class="text-red-600 text-sm">
                @if(changePasswordForm.get('password')?.getError('required')){
                    <p>Password is required</p>
                }
            </div>
        }
        <div class="relative w-full">
            <input [type]="showNewPassword? 'text' : 'password'" 
            id="newPassword" 
            placeholder="Enter Your New Password" 
            formControlName="newPassword" 
            class="pr-10 w-full bg-[#F5F0E9] border-0 my-2 py-2.5 px-4 rounded-lg outline-0">
            <i [ngClass]="showNewPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
            (click)="togglePassword('newPassword')"
             class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-600">
            </i>
        </div>
        @if (changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched) {
            <div class="text-red-600 text-sm">
                @if(changePasswordForm.get('newPassword')?.getError('required')){
                    <p>New Password is required</p>
                }
                @if(changePasswordForm.get('newPassword')?.getError('pattern')){
                    <p>Enter a valid New Password</p>
                }
            </div>
        }
        @if(changePasswordForm.getError('samePassword') && changePasswordForm.get('newPassword')?.touched){
            <p class="text-red-600 text-sm">Password and New Password are same.</p>
        }
        <button class="bg-[#0B1F65] text-[#C08D2C] hover:bg-blue-950 text-sm font-semibold !rounded-lg py-2.5 px-11.5 uppercase mt-3">Change Password</button>
    </form>
</div>