<div class="card !shadow-md border-0 !rounded-4xl mb-3">
    <!-- Post Image -->
    <div class="mb-3 shadow-sm rounded-4xl relative" [ngClass]="!postItem.image? 'py-5':'py-0'">
        @if(postItem.image){
          <img [src]="postItem.image" 
             class="img-fluid rounded-3 mx-auto !z-0" alt="post">
        }

          <!-- User Info -->
      <div class="d-flex align-items-center justify-between mb-2 absolute top-3 left-7 w-[90%] !z-10">
        <div class="!bg-[#C08D2C]/10 w-auto flex items-center py-2 px-2.5 rounded-4xl">
        <img [src]="postItem.user.photo" class="rounded-circle me-2 w-10 h-10" alt="user">
        <h6 class="mb-0 !text-[#3C507D]">{{postItem.user.name}}</h6>
       </div>
        <!-- Dropdown menu -->
        <div class="ms-auto" ngbDropdown>
          <button class="btn btn-link !text-[#3C507D] !text-md !bg-[#C08D2C]/10 px-2.5 py-1 !rounded-3xl" ngbDropdownToggle>
            <i class="fa-solid fa-ellipsis !text-3xl"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-end shadow-sm">
            <button class="dropdown-item">
                <i class="fa-solid fa-pencil me-2"></i> Edit Post
            </button>
            <button class="dropdown-item text-danger">
                <i class="fa-solid fa-trash me-2"></i> Delete Post
            </button>
          </div>
        </div>
      </div>    
      </div>

    <div class="card-body">
        
     

      <!-- Post Text -->
      <div class="mb-3 w-full">
        @if(postItem.body){
          <p class="p-0 m-0">
            {{postItem.body}}
            <!-- <a href="#" class="!text-[#C08D2C] small">See More</a> -->
            </p>
        }
      <div class="flex justify-end w-full m-0 p-0">
        <span class="text-muted text-sm">{{postItem.createdAt | date}}</span>
      </div>

      </div>
      
    <hr class="!bg-[#3C507D]">

      <!-- Show comments link -->

      <div class="flex justify-between">
      <span class="text-[#3C507D]">{{commentsNumber()}} comments</span>
      @if(commentsNumber() > 2){
         <a class="!text-[#C08D2C] small" (click)="toggleShowAll()">{{showAll? 'See Less' : 'See All'}}</a>
      }
      </div>
      <!-- Comments -->
      
        @for(comment of (showAll? commentsList() : commentsList().slice(0,1)); track $index){
          <div class="mt-3 border rounded-3 p-2 shadow-sm overflow-clip">
          <div class="d-flex mb-2 items-center justify-between">
            <div class="flex items-center min-w-40">
              <img [src]="comment.commentCreator.photo.includes('undefined')? 'images/profile.png' : comment.commentCreator.photo" class="rounded-circle me-2 w-8 h-8" alt="comment-user">
            <div class="flex flex-col">
              <h6 class="mb-0 !text-[15px] !text-[#3C507D]">{{comment.commentCreator.name}}</h6>
            <span class="text-[#3C507D]/50 text-xs font-semibold">{{comment.createdAt | date}}</span>
            </div>
            </div>
            <div>
              <p class="mb-0 small text-muted ms-2"> {{comment.content}}
                <!-- <a href="#" class="!text-[#C08D2C] small">See More</a> -->
              </p>
            </div>
          </div>
        </div>
        }
      
      <!-- Add Comment -->
      <div class="d-flex align-items-center mt-3">
        <input type="text" [(ngModel)]="commentContent" class="form-control me-2 !rounded-xl !bg-[#F5F0E9] focus:!ring-0 focus:!outline-0 focus:!border-[#F5F0E9] border-0 py-2" placeholder="Your comment..." />
        <button class="btn !bg-[#0B1F65] hover:!bg-[#08164A] rounded-circle px-2.5 pt-2" (click)="addComment(postItem._id)">
            <i class="fa-solid fa-paper-plane text-[#C08D2C]"></i>
        </button>
      </div>
    </div>
  </div>