/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer components{
    [ngbDropdownToggle]::after {
        display: none !important;
      }
      .modal-dialog {
        transform: none !important;
        transition: none !important;
      }
}